@import url("http://fonts.cdnfonts.com/css/helvetica-255");

body {
  font-family: "Helvetica", Arial, sans-serif;
}

.wrap-testimonials {
  overflow-x: auto;
  overflow-y: hidden;
}

.wrap-testimonials::-webkit-scrollbar {
  width: 0;
}

.card-testimonials {
  min-width: 619px;
  height: 270px;
  background: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin: 0 15px 0 15px;
  padding: 0 40px 0 40px;
}

.cta-banner {
  border-radius: 13px;
}

.faq-item {
  margin: 15px 0 15px 0;
}

.faq-button {
  border: 1px solid #d4d4d4;
  border-radius: 4px !important;
}

.btn-slider:hover,
.btn-slider:focus {
  background-color: #5cb85f !important;
  color: white !important;
}

@media screen and (max-width: 768px) {
  .card-testimonials {
    min-width: 100%;
    min-height: 360px;
    background: #f1f3ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 0 15px 0 15px;
    padding: 0 40px 0 40px;
  }
}
